.fontStyle {
  font-style: italic;
}
  
  .head {
    font-size: 12px;
    color: #959595;
    font-weight: 400;
  }
  
  .link {
    margin-bottom: 8px;
  }
  
  .item {
    text-align: left;
  }
 

  .dash {
    font-size: 12px;
    color: #21275b;
    font-weight: 500;
  }

  .newsletter {
    font-size: 14px;
    color: #21275b;
    font-weight: 500;
  }

  .join {
    font-size: 13px;
    color: #959595;
    font-weight: 400;
  }
  
  .title {
    font-weight: bold;
  }
  
  .description {
    margin-bottom: 10px;
  }
  
  .input-field {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dashs {
    background-color: #21275b;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--clr-main);
    border-radius: 0;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    width: 25%!important;
  }

  .container {
    margin-right: 2%!important;
    margin-left: 2%!important;
    width: auto!important;
    max-width: none!important;
    padding: 20px 0;

}
 
.Smedia {
  font-size: 11px;
  /* color: #21275b; */
  font-weight: 500;
  text-decoration: none;
  text-align: end;
}
.follow {
  font-size: 12px;
  color: #959595;
  font-weight: 500;
  margin-left: 10px;
}

.linksStyle {
  font-size: 12px;
  text-decoration: none;
  color: #21275b;
  font-weight: 500;
  
}